* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      user-select: none;
      /*não permite selecionar o texto ao dar dois cliques */
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #03d61552;
    }

    .input-box {
      width: 450px;
    }

    .input-box h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    .input-box input {
      position: relative;
      height: 100px;
      width: 100%;
      background: rgba(255, 255, 255, 0.514);
      border-style: 2px solid rgb(0, 0, 0) ;
      border-radius: 10px;
      color: #000000;
      margin: 15px 0 20px;
      outline: none;
      font-size: 30px;
      padding: 0 20px;
      letter-spacing: 2px;
      
    }

    .input-box input::placeholder {
      letter-spacing: 10;
    }

    .input-box #btn {
      position: relative;
      background: #3d3a3a;
      color: #ffffff;
      cursor: pointer;
      font-size: 24px;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 8px;
    }

    .input-box #btn:active {
      background: #ff029e;
    }